.Header{
    height: 100vh;
    margin-bottom: 2rem;
    z-index: 1;
    margin-bottom: 2rem;
   .Swiper{
    background-size: cover;
    background-position: center center;
    height: 100%;
    a{
        color: rgb(255, 255, 255) !important;
    }
    .boxdetails{
        height: 100%;
        display: flex;
        align-items: center;

        padding: 1rem 0.5rem;
        h2{
            font-size: 1.5rem;
            font-weight: 900;
            padding: 1rem 0;
        }
        p{
            cursor: pointer;
            right: 5%;
            color: rgb(255, 255, 255);
            font-size: 18px;
            text-shadow: rgb(0, 0, 0) 3px 3px 4px;
            line-height: 25px;
        }
        
    }
   }
}